<h2>Login</h2>

<form action="/login" method="post" class="form-horizontal">
	<div class="control-group">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		
		<button type="submit" value="submit" class="btn">Login</button>
	</div>
	<a href="/register">Sign up</a>
</form>